/* Temporary style */
.row {
  height: 80px;
  width: 50%;
  line-height: 80px;
}
.left-header {
  float: left;
}

.right-header {
  height: 80px;
  width:50%;
  line-height: 80px;
  float:right;
}

.text-right {
  text-align: right;

}
.left-col {
  width: 50%;
  float: left;
  position: relative;
  top: 50px;
}


/* Permanent style */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "AvenirNext","Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container::after {
  clear:both;
  content:"";
  display: table;
}
.container {
  width:80%;
  height: 100%;
  margin:auto;
  position: relative;
}

.medium-box {
  height: 750px;
  position: relative;
}

.small-img{
  width:  100px;
  height: 100px;
  background-size: cover;
}

.small-row {
  height: 80px;
}

.row-mid-box::after {
  clear:both;
  content:"";
  display: table;
}
.row-mid-box {
  box-shadow: 0 0 11px #eaf0f6;
  background-color: white;
  border-radius: .1875rem;
}

.box-margin-bottom{
  margin-bottom: 40px;
}

.col-mid-left {
  width: 30%;
  float: left;
  text-align: center;
  margin: auto;
}

.col-mid-right {
  width: 70%;
  text-align: left;
  margin: auto;
}

.hr-short{
  width: 20px;
}

.hr-mid-box{
  width: 70%;
  margin: auto;
  border-top: 1px solid grey;
}

.fa-ul{
  list-style-type: none;
  text-align: left;
}
.col-mid-box {
  float: left;
  width: 30.8%;
}

.margin-right{
  margin:0 40px 40px 0;
}

.p-main {
  padding-bottom: 40px;
}

.bottom-right-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 950px;
  height: 500px;
  background-image: url("img/img1.png");
  background-size: cover;
}

.row-mid {
  text-align: center;
  padding-bottom:50px;
}

.text-center{
  text-align: center;
}

.spaziatura {
  padding: 30px 0 30px 0;
}
/* 
.internal-padding {
  padding: 30px;
} */

.medium-box-top-row {
  text-align: center;
  color: white;
  line-height: 50px;
}

p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 1em;
    margin-bottom: 1em;
}

.insight-table {
  color: white;
  text-align: center;
  padding: 30px;
  line-height: 300%;
  width: 100%;
  height: 480px;
  margin: auto;
}

.big-number {
  font-size: 45px;
  font-weight: 700;
}

.small-text {
  font-size: 1rem;
  font-weight: 500;
}

td {
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

.no-border-right {
  border-right-style: none;
}

.no-border-bottom {
  border-bottom-style: none;
}

.last-row-top:after{
	clear:both;
	content:"";
	display:table;
}

.last-row-top {
  height: 40%;
}

.last-col-left {
  float: left;
  width: 40%;
}

.last-col-right {
  float: right;
  max-width: 60%;
}


/* Style Background */


.header-top {
  background-color: #F4F9FD;
  border-bottom: 1px solid black;
}

#top-section {
  background-color: #FFF2EF;
  border-bottom: 3px solid black;
}

#separator {
  background-color: #AFEBE4;
  border-bottom: 3px solid black;
}

#central-section {
  background-color: #F4F9FD;
}

#insight-section {
  background-color: #00BAA9;
}

#footer {
  background-color:#32495B;
}

#p-mid{
  padding:0 150px 0 150px;
}
